.part-browser {
  .MultilineAttribute-decorator {
    min-width: 100px;
    width: 100px;
    min-height: 60px;
    .name {
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
